<nav class="menu" aria-label="Navegação principal">
  <ul class="menu__lista">
    <li class="menu__item">
      <a href="/" class="menu__link menu__link--ativo" aria-current="page">Home</a>
    </li>
    <li class="menu__item">
      <a href="/inspiracao" class="menu__link">Inspiração</a>
    </li>
    <li class="menu__item">
      <a href="/programacao" class="menu__link">Programação</a>
    </li>
    <li class="menu__item">
      <a href="/gifts" class="menu__link">Gifts</a>
    </li>
    <li class="menu__item">
      <a href="/parceiros" class="menu__link">Parceiros</a>
    </li>
    <li class="menu__item">
      <a href="/footer" class="menu__link">Footer</a>
    </li>
  </ul>
</nav>
